.post_detail{
  padding: 15px;
  margin-top: 25px;
  border: 2px solid #c10cfd;
  border-radius: 15px;
  font-size: 22px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+22,ff6600+59,ff6600+59,e86c57+73,ea2803+100,c72200+100 */
  background: #f3c5bd; /* Old browsers */
  background: -moz-linear-gradient(top,  #f3c5bd 0%, #e86c57 22%, #ff6600 59%, #ff6600 59%, #e86c57 73%, #ea2803 100%, #c72200 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f3c5bd 0%,#e86c57 22%,#ff6600 59%,#ff6600 59%,#e86c57 73%,#ea2803 100%,#c72200 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f3c5bd 0%,#e86c57 22%,#ff6600 59%,#ff6600 59%,#e86c57 73%,#ea2803 100%,#c72200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}
