.menu{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,b5c6d0+64,e0eff9+100 */
  background: #f2f6f8; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f6f8 0%, #b5c6d0 64%, #e0eff9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f2f6f8 0%,#b5c6d0 64%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f2f6f8 0%,#b5c6d0 64%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}
li{
  text-decoration: none;
}
ul{
  margin: 0;
}
li:hover{
  color: coral;
}
